@media screen and (max-width: 480px) {
  .topnav a {
    color: black;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav a.active {
    border-radius: 15px;
  }
  .header-logo {
    width: 75%;
  }
  .header-logo img {
    width: 75%;
    padding: 0.5rem 0;
  }
  .hero-headline {
    font-size: 2rem;
  }
  .hero-text {
    font-size: 1.5rem;
  }
  .bground {
    position: absolute;
    top: 70px;
    background-color: white;
  }
  .content {
    box-shadow: none;
  }
}
